# /etc/udev/rules.d/42-usb-lglaf.rules
# LG G3 (D855) or LG V10 (H962) in download mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="1004", ATTRS{idProduct}=="633e", TAG+="uaccess"
# LG G3 (VS985) in download mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="1004", ATTRS{idProduct}=="627f", TAG+="uaccess"
# LG G4 (VS986) in download mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="1004", ATTRS{idProduct}=="6298", TAG+="uaccess"
# LG G3 (D852) in download mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="1004", ATTRS{idProduct}=="633a", TAG+="uaccess"
# LG K10 2017 (M250N) in download mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="1004", ATTRS{idProduct}=="6000", TAG+="uaccess"

